[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
coverage = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
gunicorn = "*"
pipenv = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
pytz = "*"
selenium = "*"
sqlparse = "*"
virtualenv = "*"
virtualenv-clone = "*"
waitress = "*"
whitenoise = "*"
Django = "*"

[dev-packages]
urllib3 = "==1.26.5"

[requires]
python_version = "3.6"
