[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
coverage = "==4.0.3"
django-debug-toolbar = "*"
pipenv = "*"
selenium = "*"
sqlparse = "*"
virtualenv = "*"
virtualenv-clone = "*"
Django = "*"

[dev-packages]

[requires]
python_version = "3.6"
