certifi==2018.4.16
coverage==4.0.3
Django==1.11.18
django-debug-toolbar==1.9.1
pipenv==2018.7.1
pytz==2018.9
selenium==2.53.1
sqlparse==0.2.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
gunicorn==19.9.0