body {
    background-image: url('../images/Scroll_4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

/* HEADER */
.page-header {
    border-bottom: 0;
}