body {
    background-image: url('../images/Scroll_4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

/* HEADER */
.page-header {
    border-bottom: 0;
}

/* BUTTONS */
.btn {
    font-size: 1.4em;
    border-radius: 18%;
}

.in input, .in select {
    background-color: transparent;
    border-radius: 5px;
    border-width: 1px;
}

.in select:checked {
    background-color: green!important;
}