{% extends "layout.html" %}

{% block title %}{% if key %}Edit {{ form.season.value }}{% else %}New Menu{% endif %} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <!-- TO DO: Add or change menu Title and head --->
            <h1>{% if key %}Edit{% else %}Add New{% endif %} Menu</h1>
            <form method="POST" class="menu-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
{% endblock %}