{% extends "layout.html" %}

{% block title %}Edit | {{ form.season.value }} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Change menu</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="season">Season:</label>
                <input id="season" type="text" name="season" value="{{ form.season.value }}">
                <br />
                <label for="items">Items:</label>
                <select multiple>
                    {% for item in items %}
                        <option id="items" value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <br />
                <label for="expiration_date">Expiration Date(mm/dd/yyyy):</label>
                <input id="expiration_date" type="text" name="expiration_date"
                       value="{{ form.expiration_date.value|date:'m/d/Y' }}">
                <br />
                <button type="submit" class="save btn btn-outline-info">Save</button>
            </form>
        </div>
    </div>
{% endblock %}