{% extends "layout.html" %}

{% block title %}Delete Item | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="post">

                <div class="d-flex justify-content-between">
                    <div class="">
                        <h1 class="display-4 text-danger">
                            {{ item.name }}
                        </h1>
                        <p class="h2 description"><strong>Head Chef:</strong> {{ item.chef }}</p>
                        <h3 class="description ">{{ item.description|linebreaks }}</h3>
                        <p class="h2 description"><strong>Ingredients: </strong>{{ item.ingredients.all|join:", " }}</p>
                        {% if item.standard %}
                            <p class="text-secondary h3"><em>This item is available year-round.</em></p>
                        {% endif %}
                    </div>
                    <div class="">
                        <form action="{% url 'menu:item_delete' pk=item.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete Item" class="btn btn-outline-danger">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}