{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="post">

                <!-- Info and New menu -->
                <div class="d-flex justify-content-between display-3">
                        <p class="mr-5 mt-2 menu-title">
                            Menus
                        </p>
                        <a href="{% url 'menu:menu_new' %}" class="h1 ml-5 pl-5 text-info">
                            Add Menu
                        </a>
                </div>

                <!-- Menu List WITH expiration date --->
                {% for menu in menus %}
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <a href="{% url 'menu:menu_detail' pk=menu.pk %}" class="display-4">{{ menu.season }}</a>
                            <p class="h3 pl-4 description">{{ menu.items.all|join:", " }}</p>
                            {% if menu.expiration_date %}
                                <div class="date h3 pl-4">
                                    <strong class="text-secondary">Expires on:</strong> {{ menu.expiration_date }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="">
                            {% if user.is_authenticated %}
                                <a class="btn btn-outline-success mr-1"
                                   href="{% url 'menu:menu_edit' pk=menu.pk %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-danger ml-1" href="{% url 'menu:menu_delete' pk=menu.pk %}">
                                    Delete
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <!-- Menu List WITHOUT expiration date --->
                <h1 class="display-4">Without expiration date</h1>
                {% for menu in no_date %}
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <h1>
                                <a href="{% url 'menu:menu_detail' pk=menu.pk %}" class="display-4">{{ menu.season }}</a>
                            </h1>
                            <p class="h3 pl-4">{{ menu.items.all|join:", " }}</p>
                        </div>

                        <div class="">
                            {% if user.is_authenticated %}
                                <a class="btn btn-outline-success mr-1"
                                   href="{% url 'menu:menu_edit' pk=menu.pk %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-danger ml-1" href="{% url 'menu:menu_delete' pk=menu.pk %}">
                                    Delete
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
