{% extends "layout.html" %}

{% block title %}{{ menu.season }} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="post">

                <div class="d-flex justify-content-between">
                    <div class="">
                        <h1 class="display-4 {% if not user.authenticated %}text-info{% else %}text-success{% endif %}">
                            {{ menu.season }}
                        </h1>
                        <h2><strong>On the menu this season:</strong></h2>
                        <ul>
                            {% for item in menu.items.all %}
                                <li>
                                    <a href="{% url 'menu:item_detail' pk=item.pk %}"
                                    class="h3 description">
                                        {{ item }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if menu.expiration_date %}
                            <div class="date h3 pl-4">
                                <strong class="text-secondary">Menu expires on</strong> {{ menu.expiration_date|date:"F j, Y" }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="">
                        {% if user.is_authenticated %}
                            <a class="btn btn-outline-success mr-1" href="{% url 'menu:menu_edit' pk=menu.pk %}">
                                Edit
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}