{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title Block --->
        <title>{% block title %}Soda Fountain{% endblock %}</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/my_css.css' %}">
    </head>
    <body>
        <!-- Header --->
        <div class="page-header d-flex justify-content-between">
            <div class="text-left ml-5 pl-5">
                <h1><a href="/" class="display-3 ml-5 pl-5 head-title">Soda Fountain</a></h1>
            </div>
            <div class="text-right">

                <!-- Navigation for menus and items -->
                <h1>
                {% if user.is_authenticated %}
                    <div class="mr-5 pr-5">
                        <a href="{% url 'menu:menu_list' %}" class="display-4 mr-5 pr-5">
                            Menus
                        </a>
                        <a href="{% url 'menu:item_list' %}" class="display-4 mr-5 pr-5">
                            Items
                        </a>
                    </div>
                {% endif %}
                </h1>
            </div>
        </div>
        <!-- /Header --->

        <!-- Content --->
        <div class="content container">
            {% block content %}{% endblock %}
        </div>
        <!-- /Content --->

        <button class="btn btn-outline-secondary" onclick="topFunction()" id="myBtn">Back to top</button>
        <script>
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 1000) {
                    document.getElementById("myBtn").style.display = "block";
                } else {
                    document.getElementById("myBtn").style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </body>
</html>